In [41]:
import pandas as pd
import numpy as np

In [42]:
data = {'nim': [2011901, 2011902,2011903], 'nama': ['Asdam', 'Amir',np.nan],'prodi':['Sistem Informasi','Sistem Informasi','Teknik Informatika']}
df = pd.DataFrame(data)

In [43]:
# show all data
df

       nim   nama               prodi
0  2011901  Asdam    Sistem Informasi
1  2011902   Amir    Sistem Informasi
2  2011903    NaN  Teknik Informatika

In [44]:
# show only top 1 data
df.head(1)

       nim   nama             prodi
0  2011901  Asdam  Sistem Informasi

In [45]:
df.dtypes

nim       int64
nama     object
prodi    object
dtype: object

In [46]:
df.astype({'nama': 'string'}).dtypes

nim       int64
nama     string
prodi    object
dtype: object

In [47]:
df_copy = df.copy()
df_copy

       nim   nama               prodi
0  2011901  Asdam    Sistem Informasi
1  2011902   Amir    Sistem Informasi
2  2011903    NaN  Teknik Informatika

In [48]:
df.dropna()

       nim   nama             prodi
0  2011901  Asdam  Sistem Informasi
1  2011902   Amir  Sistem Informasi

In [65]:
df.fillna('unknown',inplace=True)
df

       nim     nama               prodi
0  2011901    Asdam    Sistem Informasi
1  2011902     Amir    Sistem Informasi
2  2011903  unknown  Teknik Informatika

In [ ]:
df

In [59]:
grp = df.groupby(['prodi'])
grp.first()

                        nim     nama
prodi
Sistem Informasi    2011901    Asdam
Teknik Informatika  2011903  unknown

In [60]:
df.rename(columns={"prodi": "program_studi"})

       nim     nama       program_studi
0  2011901    Asdam    Sistem Informasi
1  2011902     Amir    Sistem Informasi
2  2011903  unknown  Teknik Informatika

In [61]:
df.to_excel('data_mahasiswa_pandas.xlsx')

In [62]:
df.to_csv('data_mahasiswa_pandas.csv')

In [63]:
df.to_json('data_mahasiswa_pandas.json')